<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <variable name="logDirectory" value="${basedir}/Logs/${date:format=yyyy-MM-dd}"/>
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="AsyncFile" xsi:type="AsyncWrapper">
      <target
        xsi:type="File"
        fileName="${logDirectory}/${date:format=yyyy-MM-dd}.log"
        encoding="utf-8"
        archiveEvery="Day"
        maxArchiveFiles="10"
        layout="Nome Computer: ${machinename}${newline}Data/Ora: ${date:format=dd/MM/yyyy HH\:mm\:ss}${newline}Tipo di Log: ${level:upperCase=true}${newline}${newline}[Dettagli]${newline}${message}${newline}${newline}******************************************************************************************${newline}"
        createDirs="true"
        concurrentWriteAttempts ="10"
        concurrentWriteAttemptDelay = "1"/>
    </target>

    <target name="AsyncCsv" xsi:type="AsyncWrapper">
      <target xsi:type="File" fileName="${logDirectory}/${date:format=yyyy-MM-dd}.csv">
        <layout xsi:type="CSVLayout">
          <column name="Data/Ora" layout="${date:format=dd/MM/yyyy HH\:mm\:ss}" />
          <column name="Dettagli" layout="${message}" />
          <column name="Logger" layout="${logger}"/>
          <column name="Tipo di Log" layout="${level}"/>
        </layout>
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="AsyncFile" />
    <logger name="*" minlevel="Info" writeTo="AsyncCsv" />
  </rules>
</nlog>